<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
		<h4><%= @tienda_cliente.nombre %></h4>
			<p>
			  <strong>Direccion:</strong>
			  <%= @tienda_cliente.direccion %>
			</p>

			<p>
			  <strong>Telefono:</strong>
			  <%= @tienda_cliente.telefono %>
			</p>
		</div>
	</div>
</div>
<% if current_user.is_admin %>
<%= link_to 'Editar', edit_tienda_cliente_path(@tienda_cliente), class: "btn btn-default" %>
<% end %>
<%= link_to 'Regresar', cliente_tiendas_clientes_path(@tienda_cliente.cliente), class: "btn btn-default" %>
