<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
		<h4>  <%= @proveedor.nombre %></h4>
    		<p>
  				<strong>Teléfono:</strong>
  				<%= @proveedor.telefono %>
			</p>

			<p>
  				<strong>Dirección:</strong>
  				<%= @proveedor.direccion %>
			</p>

			<p>
  				<strong>RFC:</strong>
  				<%= @proveedor.rfc %>
			</p>
		</div>
	</div>
</div>
<%= link_to 'Editar', edit_proveedor_path(@proveedor), class: "btn btn-default" %> 
<%= link_to 'Regresar', proveedores_path, class: "btn btn-default" %>
