<h2 class="page-header">Relojes</h2>

<div class="dataTable_wrapper">
	<table id="dataTable" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
	  	<thead>
		    <tr>
				<th>Proveedor</th>
		   	   	<th>Línea</th>
      			<th>Modelo</th>
				<th>Costo</th>
      			<th>Precio</th>
				<th>Stock</th>
      			<th></th>
    		</tr>
  		</thead>

  		<tbody>
    		<% @relojes.each do |reloj| %>
      			<tr>
        			<td><%= reloj.proveedor.nombre %></td>
					<td><%= reloj.marca %></td>
        			<td><%= reloj.modelo %></td>
					<td><%= number_to_currency(reloj.costo) %></td>
        			<td><%= number_to_currency(reloj.precio) %></td>
					<td><%= reloj.stock %></td>
        			<td><%= link_to "<span class=\"glyphicon glyphicon-info-sign\"></span>".html_safe, reloj %>
							<% if current_user.is_admin %>
		     				<%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_reloj_path(reloj) %>
		     				<%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, reloj, method: :delete, data: { confirm: '¿Estás seguro?' } %>
							<% end %>
							</td>
     			</tr>
    		<% end %>
  		</tbody>
	</table>
</div>

<% if current_user.is_admin %>
<%= link_to 'Nuevo Reloj', new_reloj_path, class: "btn btn-default" %>
<% end %>
<%= link_to 'Exportar a CSV', relojes_path(format: :csv), class: "btn btn-default" %>
