<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
		<h4><%= @reloj.modelo %></h4>
			<p>
			  <strong>Proveedor:</strong>
			  <%= @reloj.proveedor.nombre %>
			</p>

			<p>
			  <strong> Línea:</strong>
			  <%= @reloj.marca %>
			</p>

			<p>
			  <strong>Descripción:</strong>
			  <%= @reloj.descripcion %>
			</p>
			<p>
			  <strong>Costo:</strong>
			  <%= number_to_currency(@reloj.costo) %>
			</p>
			<p>
			  <strong>Precio:</strong>
			  <%= number_to_currency(@reloj.precio) %>
			</p>

			<p>
			  <strong>Stock:</strong>
			  <%= @reloj.stock %>
			</p>

		</div>
	</div>
</div>

<% if current_user.is_admin %>
<%= link_to 'Editar', edit_reloj_path(@reloj), class: "btn btn-default" %>
<% end %>
<%= link_to 'Regresar', relojes_path, class: "btn btn-default" %>
