<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
		<h4><%= @reloj.modelo %></h4>
			<p>
			  <strong>Marca:</strong>
			  <%= @reloj.marca %>
			</p>

			<p>
			  <strong>Descripción:</strong>
			  <%= @reloj.descripcion %>
			</p>

			<p>
			  <strong>Precio:</strong>
			  <%= @reloj.precio %>
			</p>

			<p>
			  <strong>Stock:</strong>
			  <%= @reloj.stock %>
			</p>

		</div>
	</div>
</div>
<%= link_to 'Editar', edit_reloj_path(@reloj), class: "btn btn-default" %>
<%= link_to 'Regresar', relojes_path, class: "btn btn-default" %>
