<!-- Sidebar -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#charts" aria-expanded="false" aria-controls="coll">
								<span class="glyphicon glyphicon-stats"></span> Charts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" id="charts">
                    <li>
                        <a href="flot.html">Flot Charts</a>
                    </li>
                    <li>
                        <a href="morris.html">Morris.js Charts</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
								<a data-toggle="collapse" data-target="#tablas" aria-expanded="false" aria-controls="coll">
                <span class="glyphicon glyphicon-list-alt"></span> Tablas<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse" id="tablas">
										<li>
                        <%= link_to 'Clientes', clientes_path %></td>
                    </li>              
										<li>
                        <%= link_to 'Proveedores', proveedores_path %></td>
                    </li>
                    <li>
                        <%= link_to 'Relojes', relojes_path %></td>
                    </li>
										<li>
                        <%= link_to 'Vendedores', vendedores_path %></td>
                    </li>
										<li>
                        <%= link_to 'Repartidores', repartidores_path %></td>
                    </li>
                </ul>
            </li>
            <li>
								<a data-toggle="collapse" data-target="#crear" aria-expanded="false" aria-controls="coll">
								<span class="glyphicon glyphicon-edit"></span> Crear nuevo<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" id="crear">
                    <li>
                        <%= link_to 'Cliente', new_cliente_path %></td>
                    </li>                  
										<li>
                        <%= link_to 'Proveedor', new_proveedor_path %></td>
                    </li>
                    <li>
                        <%= link_to 'Reloj', new_reloj_path %></td>
                    </li>
										<li>
                        <%= link_to 'Vendedor', new_vendedor_path %></td>
                    </li>
										<li>
                        <%= link_to 'Repartidor', new_repartidor_path %></td>
                    </li> 
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="notifications.html">Notifications</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="icons.html"> Icons</a>
                    </li>
                    <li>
                        <a href="grid.html">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="blank.html">Blank Page</a>
                    </li>
                    <li>
                        <a href="login.html">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
