<!-- Sidebar -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/"><span class="glyphicon glyphicon-dashboard"></span> Inicio</a>
            </li>
            <% if current_user.is_admin %>
            <li>
                <a data-toggle="collapse" data-target="#charts" aria-expanded="false" aria-controls="coll">
								<span class="glyphicon glyphicon-stats"></span> Estadísticas<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" id="charts">
                    <li>
                        <a href="/ordenes/stats">Ventas</a>
                    </li>
                    <li>
                        <a href="/pedidos/stats">Compras</a>
                    </li>
					<li>
                        <a href="/relojes/stats">Relojes</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
						<% end %>
						<% unless current_user.repartidor %>
            <li>
								<a data-toggle="collapse" data-target="#tablas" aria-expanded="false" aria-controls="coll">
                <span class="glyphicon glyphicon-list-alt"></span> Tablas<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse" id="tablas">
										<li>
                        <%= link_to 'Órdenes', ordenes_path %></td>
                    </li>
										<% if current_user.is_admin %>      
												<li>
				                    <%= link_to 'Pedidos', pedidos_path %></td>
				                </li>
										<% end %>
										<li>
                        <%= link_to 'Relojes', relojes_path %></td>
                    </li>										
										<li>
                        <%= link_to 'Clientes', clientes_path %></td>
                    </li>       
										<% if current_user.is_admin %>       
												<li>
				                    <%= link_to 'Proveedores', proveedores_path %></td>
				                </li>
												<li>
				                    <%= link_to 'Vendedores', vendedores_path %></td>
				                </li>
												<li>
				                    <%= link_to 'Repartidores', repartidores_path %></td>
				                </li>
                    <% end %>
                </ul>
            </li>
						<% end %>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
