<h2 class="page-header">Entregas pendientes</h2>

<div class="row">
	<div class="dataTable_wrapper">
		<table id="dataTable" class="table table-striped table-bordered table-hover" width="100%" cellspacing="0">
				<thead>
				<tr>
					<th>Cliente</th>
					<th>Tienda</th>
					<th>Fecha pedido</th>
					<th>Dirección</th>		
					<th></th>
				</tr>
				</thead>

				<tbody>
		  	<% @ordenes.each do |orden| %>
		    	<tr>
						<td><%= orden.tienda_cliente.cliente.nombre %></td>
						<td><%= orden.tienda_cliente.nombre %></td>
						<td><%= orden.fecha_pedido %></td>
						<td><%= orden.tienda_cliente.direccion %></td>
						<td><%= link_to 'Marcar entregada', entregar_orden_path(orden), class: "btn btn-success btn-sm" %></td>
		    	</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div id="map-container">
  	<div id="map-canvas"></div>
	</div> <p></p>
</div>

<script>
	function initialize() {	
		var mapOptions = {
      center: new google.maps.LatLng(19.426958, -99.167869),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.NORMAL,
      panControl: true,
      scaleControl: false,
      streetViewControl: true,
      overviewMapControl: true
    };
    // initializing map
    map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

		var geocoding  = new google.maps.Geocoder();
		var direcciones = <%= @direcciones.to_json.html_safe %>;
	  for (var i = 0; i < direcciones.length; i++) {
			codeAddress(geocoding, direcciones[i]);
		}
	}

	function codeAddress(geocoding, address){
		if(address.length > 0){
		  geocoding.geocode({'address': address},function(results, status){
		    if(status == google.maps.GeocoderStatus.OK){
		      map.setCenter(results[0].geometry.location);
		      var marker  =  new google.maps.Marker({
		        map: map,
		        position: results[0].geometry.location
		      });
		    }else{
		      alert("Geocode was not successful for the following reason: " + status);
		    }
		  });
		}else{
		  alert("Search field can't be blank");
		}
  }
</script>
