<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-primary">	
        	<div class="panel-heading">
            	<%=current_user.repartidor.nombre %>
            </div>
            <div class="panel-body">
         		<p>
			  		<strong>Número de repartos aignados:</strong>
			  		<%=Orden.where("repartidor_id = ?", current_user.repartidor.id).count  %>
				</p>
				<p>
			  		<strong>Número de repartos completados:</strong>
			  		<%=Orden.where("ordenes.fecha_entrega IS NOT NULL AND repartidor_id = ?", current_user.repartidor.id).count  %>
				</p>
            </div>
    	</div>
	</div>
</div>

<div class = row>
	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Mis entregas en los últimos 30 días
			</div>                       
			<div class="panel-body">
			<%= column_chart Orden.repartos_dia (current_user.repartidor.id) %>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Mis entregas en el último año
			</div>                       
			<div class="panel-body">
			<%= column_chart Orden.repartos_mes (current_user.repartidor.id) %>
			</div>
		</div>
	</div>

	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Mis entregas por cliente
			</div>                       
			<div class="panel-body">
			<%= pie_chart Orden.repartos_cliente (current_user.repartidor.id) %>
			</div>
		</div>
	</div>
</div>
