<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-primary">	
        	<div class="panel-heading">
            	<%=current_user.vendedor.nombre %>
            </div>
            <div class="panel-body">
         		<p>
			  		<strong>Número de clientes:</strong>
			  		<%= @count %>
				</p>
				<p>
			  		<strong>Ventas:</strong>
			 		<%= number_to_currency(@ventas)  %>
				</p>
            </div>
    	</div>
	</div>
</div>

<div class = row>
	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Mis ventas en los últimos 30 días
			</div>                       
			<div class="panel-body">
			<%= area_chart @ventas_dia %>
			</div>
		</div>
	</div>

	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Mis ventas en el último año 
			</div>                       
			<div class="panel-body">
			<%= area_chart @ventas_mes %>
			</div>
		</div>
	</div>

	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Mis ventas por cliente
			</div>                       
			<div class="panel-body">
			<%= pie_chart @ventas_cliente %>
			</div>
		</div>
	</div>

</div>
