<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
			<h4><%= @pedido.proveedor.nombre %></h4>
		
			<p>
				<strong>Fecha pedido:</strong>
				<%= @pedido.created_at %>
			</p>
		
			<% if @pedido.recibido? %>
				<p>
					<strong>Fecha recibido:</strong>
					<%= @pedido.fecha_entrega %>
				</p>
			<% end %>

			<p>
				<strong>Total:</strong>
				<div id="total"><%= @pedido.total %></div>
			</p>
		</div>
			
		<%= link_to 'Regresar', pedidos_path, class: "btn btn-default" %>
	</div>
		

	<div class="col-lg-8">
		<%= render "pedidos_cantidades/index" %>
		<% if !@pedido.recibido? %>
			<%= link_to new_pedido_pedido_cantidad_path(@pedido), remote: true do %>
			<div class="col-md-offset-9">					
				<button class="btn btn-default">Agregar producto</button>
			</div>
			<% end %><p></p>
		<% end %>
	</div>
</div>

<div class="row">
  <div class="col-lg-6">
		<div id="cantidad-form" style="display:none;"></div>
	</div>
</div>
