<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
			<h4><%= @pedido.proveedor.nombre %></h4>
		
			<% if @pedido.fecha_pedido %>			
				<p>
					<strong>Fecha pedido:</strong>
					<%= @pedido.fecha_pedido.strftime("%d-%m-%Y %H:%M") %>
				</p>
			<% end %>
		
			<% if @pedido.recibido? %>
				<p>
					<strong>Fecha recibido:</strong>
					<%= @pedido.fecha_entrega.strftime("%d-%m-%Y %H:%M") %>
				</p>
			<% end %>

			<p>
				<strong>Total:</strong>
				<div id="total"><%= number_to_currency(@pedido.total) %></div>
			</p>
		</div>
			
		<%= link_to 'Regresar', pedidos_path, class: "btn btn-default" %>
		<% if @pedido.fecha_pedido %>
			<%= link_to 'Exportar a PDF', pedido_path(@pedido, format: 'pdf'), class: "btn btn-default" %>
		<% end %>
	</div>
		

	<div class="col-lg-8">
		<%= render "pedidos_cantidades/index" %>

		<% unless @pedido.fecha_pedido %>
			<div class="col-md-offset-6">			
				<%= link_to new_pedido_pedido_cantidad_path(@pedido), remote: true do %>		
					<button class="btn btn-default">Agregar producto</button>
				<% end %>
				<%= link_to 'Completar pedido', place_pedido_path(@pedido), class: "btn btn-default" %>
			</div>
		<% end %>

	</div>
</div>

<div class="row">
  <div class="col-lg-6">
		<div id="cantidad-form" style="display:none;"></div>
	</div>
</div>
