<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<h3>Producto</h3>
<div id="errores"></div>
<%= form_for([@orden, @orden_cantidad], remote: true) do |f| %>
  <%= render "errors" %>

	<% unless params[:action] == 'edit' %>
		<div class="form-group">
		  <label>Proveedor</label><br>
		  <%= collection_select(nil, :proveedor_id, @proveedores, :id, :nombre, {prompt: "Selecciona"}, {class: "form-control", id: "proveedor_select"}) %>
		</div>
		<div class="form-group">
		  <label>Reloj</label><br>
		  <%= f.collection_select(:reloj_id, @relojes, :id, :modelo, {prompt: "Selecciona un reloj"}, {class: "form-control", id: "reloj_select"}) %>
		</div>
	<% end %>
  <div class="form-group">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad, class: "form-control" %>
  </div>
  <div class="actions">
		<%= f.submit 'Enviar', class: "btn btn-default" %>
		<button id="cancelar" class="btn btn-default">Cancelar</button>
	</div>
<% end %>

<script>
  $('#cancelar').click(function(){
     $('#cantidad-form').slideUp(350);
  });
</script>
