<tr>
	<td><%= orden_cantidad.reloj.proveedor.nombre %></td>
	<td><%= orden_cantidad.reloj.modelo %></td>
	<td><%= orden_cantidad.cantidad %></td>
	<td><%= link_to 'Edit', edit_orden_orden_cantidad_path(@orden, orden_cantidad), remote: true %></td>
	<td><%= link_to 'Destroy', [@orden, orden_cantidad], remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
