<h3>Producto</h3>
<div id="errores"></div>
<%= form_for([@pedido, @pedido_cantidad], remote: true) do |f| %>
  <%= render "errors" %>

	<% unless params[:action] == 'edit' %>
	<div class="form-group">
    <label>Reloj</label><br>
    <%= f.collection_select(:reloj_id, @relojes, :id, :modelo, {prompt: "Selecciona un reloj"}, {class: "form-control"}) %>
  </div>
	<% end %>
  <div class="form-group">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad, class: "form-control" %>
  </div>
  <div class="actions">
		<%= f.submit 'Enviar', class: "btn btn-default" %>
		<button id="cancelar" class="btn btn-default">Cancelar</button>
	</div>
<% end %>

<script>
  $('#cancelar').click(function(){
     $('#cantidad-form').slideUp(350);
  });
</script>
