<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
		<h4>  <%= @repartidor.nombre %></h4>
			<p>
			  <strong>RFC:</strong>
			  <%= @repartidor.rfc %>
			</p>

			<p>
			  <strong>Teléfono:</strong>
			  <%= @repartidor.telefono %>
			</p>

			<p>
			  <strong>Dirección:</strong>
			  <%= @repartidor.direccion %>
			</p>
		</div>
	</div>
</div>
<%= link_to 'Editar', edit_repartidor_path(@repartidor), class: "btn btn-default" %> 
<%= link_to 'Regresar', repartidores_path, class: "btn btn-default" %>
