<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
		<h4>  <%= @vendedor.nombre %></h4>
			<p>
			  <strong>Teléfono:</strong>
			  <%= @vendedor.telefono %>
			</p>

			<p>
			  <strong>RFC:</strong>
			  <%= @vendedor.rfc %>
			</p>
		</div>
	</div>
</div>
<%= link_to 'Editar', edit_vendedor_path(@vendedor), class: "btn btn-default" %>
<%= link_to 'Regresar', vendedores_path, class: "btn btn-default" %>
