<%= form_for(@orden) do |f| %>
  <% if @orden.errors.any? %>
    <div id="error_explanation">
      <h4>Hay <%= pluralize(@orden.errors.count, "error") %>:</h4>

      <ul>
      <% @orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="col-lg-6">
		<div class="form-group">
      <label>Cliente</label><br>
      <%= collection_select(nil, :cliente_id, @clientes, :id, :nombre, {prompt: "Selecciona"}, {class: "form-control", id: "cliente_select"}) %>
    </div>
		<div class="form-group">
      <label>Tienda</label><br>
      <%= f.collection_select(:tienda_cliente_id, @tiendas_clientes, :id, :nombre, {prompt: "Selecciona una tienda"}, {class: "form-control", id: "tienda_select"}) %>
    </div>
		<div class="actions">
	      <%= link_to 'Cancelar', ordenes_path,  class: "btn btn-default" %>		
		  <%= f.submit 'Enviar', class: "btn btn-default" %>  	
		</div>
	</div>
<% end %>
