<h2 class="page-header">Órdenes</h2>

<table>
  <thead>
    <tr>
      <th>Fecha pedido</th>
      <th>Fecha entrega</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenes.each do |orden| %>
      <tr>
        <td><%= orden.created_at %></td>
        <td><%= orden.fecha_entrega %></td>
        <td><%= link_to 'Show', orden %></td>
        <td><%= link_to 'Edit', edit_orden_path(orden) %></td>
        <td><%= link_to 'Destroy', orden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden', new_orden_path %>
