<div class="row">
	<p></p>
	<div class="col-lg-4">
		<div class="well well-lg">
		<h4><%= @orden.tienda_cliente.cliente.nombre %></h4>
		
			<p>
				<strong>Tienda:</strong>
				<%= @orden.tienda_cliente.nombre %>
			</p>

			<% if @orden.tiene_repartidor? %>
				<p>
					<strong>Repartidor:</strong>
					<%= @orden.repartidor.nombre %>
				</p>
			<% end %>

			<p>
				<strong>Fecha pedido:</strong>
				<%= @orden.fecha_pedido %>
			</p>

			<% if @orden.entregada? %>
			<p>
				<strong>Fecha entrega:</strong>
				<%= @orden.fecha_entrega %>
			</p>
			<% end %>

			<p>
				<strong>Total:</strong>
				<div id="total"><%= @orden.total %></div>
			</p>
		</div>

		<% unless @orden.fecha_pedido %>
		<%= link_to 'Editar', edit_orden_path(@orden),  class: "btn btn-default" %>
		<% end %>
		<%= link_to 'Regresar', ordenes_path,  class: "btn btn-default" %>
	</div>

	<div class="col-lg-8">
		<%= render "ordenes_cantidades/index" %>

		<% unless @orden.fecha_pedido %>
		<div class="col-md-offset-6">
			<%= link_to new_orden_orden_cantidad_path(@orden), remote: true do %>
					<button class="btn btn-default">Agregar producto</button>
			<% end %>
			<%= link_to 'Completar orden', place_orden_path(@orden), class: "btn btn-default" %>
		</div>
		<% end %>

	</div>
</div>

<div class="row">
  <div class="col-lg-6">
		<div id="cantidad-form" style="display:none;"></div>
	</div>
</div>
