<h2 class="page-header">Estadísticas de ventas</h2>
<a href="/ordenes/stats.pdf" data-method="get" class='btn btn-default'>Exportar a PDF </a>
<div class = row>
	<p></p>
	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Ventas diarias en los últimos 30 días 
			</div>                       
			<div class="panel-body">
			<%= area_chart @ventas_dia %>
			</div>
		</div>
	</div>

	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Ventas mensuales en el último año 
			</div>                       
			<div class="panel-body">
			<%= area_chart @ventas_mes %>
			</div>
		</div>
	</div>

	<div class="col-lg-6"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Ventas por proveedor 
			</div>                       
			<div class="panel-body">
			<%= column_chart @ventas_proveedor %>
			</div>
		</div>
	</div>

	<div class="col-lg-6"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Ventas por vendedor 
			</div>                       
			<div class="panel-body">
			<%= column_chart @ventas_vendedor %>
			</div>
		</div>
	</div>

	<div class="col-lg-12"> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Ventas por cliente 
			</div>                       
			<div class="panel-body">
			<%= pie_chart @ventas_cliente %>
			</div>
		</div>
	</div>
</div>


