<!DOCTYPE html>
<html>
  <head>
		<%= wicked_pdf_stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
		<%= wicked_pdf_javascript_include_tag 'application', 'data-turbolinks-track' => false %>
		<%= javascript_include_tag "http://www.google.com/jsapi"%>
		<%= wicked_pdf_javascript_include_tag 'chartkick'%>
    <meta charset="utf-8">
  </head>
  <body>
      <%= yield %>
  </body>
</html>
